#container{
    position:relative
}
.left{
    width:360px;
    height:500px;

}
.left img{
    width:100%;
    height:100%;
}
.right{
    width:360px;
    height:500px;
    position:absolute;
    top:0;
    left:370px;
    border:1px solid #333;
    overflow:hidden;
    display:none;
}
.right img{
   position:absolute;
   width:720px;
   height:1000px;
}
.left .slide{
    width:180px;
    height:250px;
    position:absolute;
    cursor:move;
    display:none;
    background:rgba(255,255,255,0.3);

}